:root {
	--primary-color: #3c4ae4;
	--secondary-color: #e6f1ff;
	--answer-color: #ffb100;
	--button-color: #ff426c;
	--font-color: #ffffff;
	--font-title: "Press Start 2P";
	--font-content: "Varela Round";
}
body {
	margin: 0;
	background-color: var(--secondary-color);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.header__title {
	font-family: var(--font-title);
	font-size: 50px;
	color: var(--primary-color);
}

.button__start,
.button__loading,
.button__restart {
	background-color: var(--button-color);
	color: var(--font-color);
	font-family: var(--font-title);
	font-size: 10px;
	width: 120px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.board {
	font-family: var(--font-content);
	width: 80vw;
	height: 80vh;
	margin: 0 auto;
	margin-bottom: 20px;
}

.board__thead {
	height: 50px;
}

.board__tbody {
	cursor: pointer;
	font-size: 14px;
	height: 100px;
}

td {
	background-color: var(--primary-color);
	width: 100px;
	height: 100px;
	color: var(--font-color);
	text-align: center;
}

.answer {
	background-color: var(--answer-color);
}
