:root {
	--primary-color: #4bacb8;
	--secondary-color: #e5ffff;
	--answer-color: #cddc39;
	--button-color: #ef9a9a;
	--font-color: #ffffff;
}
body {
	margin: 0;
	background-color: var(--secondary-color);
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.header__title {
	font-size: 50px;
	color: var(--primary-color);
}

.button {
	background-color: var(--button-color);
	color: var(--font-color);
	width: 120px;
	height: 50px;
	border: none;
	cursor: pointer;
}

.board {
	width: 80vw;
	height: 80vh;
	margin: 0 auto;
	margin-bottom: 20px;
}

.board__thead__row {
	height: 50px;
}

.board__tbody {
	cursor: pointer;
}

td {
	background-color: var(--primary-color);
	color: var(--font-color);
	text-align: center;
	width: 100px;
}
